.chat-section {
  width: 883px;
  height: 693px;
  border-radius: 49px;
  // background-color: #036BB9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.chat-section__header {
  width: 90%;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chat-section__inner {
  background-color: #fff;
  width: 831px;
  height: 85%;
  margin-bottom: 30px;
  border-radius: 49px;
  border-bottom-left-radius: 0;
  box-shadow: 0px 4px 14px 0px #000000AD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat-section__inner__messages {
  height: 84%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 49px;
  border-top-right-radius: 49px;
  margin-top: 10px;
}

.chat-section__inner__bottom {
  width: 100%;
  display: flex;
  & button {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
  }
}



.chat-section__inner__bottom__input {
  height: 60px;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 10px;
  align-self: flex-start;
  margin-left: 10px;
  padding-top: 0; /* Убираем верхний внутренний отступ */
  line-height: 1;
  vertical-align: top;
  &:focus {
    outline: none;
  }
  &::placeholder {
    line-height: 1;
    vertical-align: top;
  }
}