.layout {
  background-color: #66E3FF;
  min-height: 750px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-spin {
  position: absolute !important;
  margin: auto auto!important;
  z-index: 1;
}