.chat-message {
  width: 371px;
  border-radius: 20px;
  background-color: #ABE1FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
  align-self: flex-end;
}

.chat-message__content {
  width: 80%;
}

.chat-message__user-info {
  margin-left: 10px;
}