.chat-message {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  margin: 5px 15px;
}

.chat-message__content {
  width: 100%;
  min-height: 50px;
  border-radius: 20px;
  display: flex;
  & span {
    margin: 10px;
    font-size: 18px;
    word-wrap:normal;
  }
}

.chat-message__user-info {
  align-self: flex-start;
  margin-bottom: 5px;
}